<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="end" (click)="Logout()">
      <ion-button type="Logout">Logout </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-accordion-group>
    <ion-accordion *ngFor="let question of show_Ques">
      <ion-item slot="header" color="light">
        <ion-label>{{ question.question }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>{{ question.answer }}</p>
        <ion-label>Categories:</ion-label>
        <ion-chip *ngFor="let category of question.categories">
          <ion-label>{{ category }}</ion-label>
        </ion-chip>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-button routerLink="/add" fill="clear" expand="block" color="primary"> add Question </ion-button>
</ion-content>